body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 550px;
  margin: 50px auto;
  /* background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 40px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

form input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style: none;
  padding: 0;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.task-item {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.task-item i{
  color: green;
  font-size: 22px;
  margin-right: 15px;
}

.task-item.completed {
  text-decoration: line-through;
  color: #777;
}

.task-item.completed i {
  color: green;
}

.filter {
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.filter input {
  width: 526px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}